<form [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="posttitle" class="form-label">Post Title</label>
        <input type="text" placeholder="Post Title Here" formControlName="postTitle">
    </div>
    <div>
        <label for="postbody" class="form-label">Post Text</label>
        <textarea rows="4" formControlName="postBody"></textarea>
    </div>
    <div>
        <label for="rock">Rock</label>
        <input type="radio" formControlName="genre" id="rock" value="ROCK"><br>
        
        <label for="edm">EDM</label>
        <input type="radio" formControlName="genre" id="edm" value="EDM"><br>
        
        <label for="jazz">Jazz</label>
        <input type="radio" formControlName="genre" id="jazz" value="JAZZ"><br>
        
        <label for="rap">Rap</label>
        <input type="radio" formControlName="genre" id="rap" value="RAP"><br>
        
        <label for="misc">Misc</label>
        <input type="radio" formControlName="genre" id="misc" value="MISC">
    </div>
        <button class="button" type="submit">Submit</button>
</form>