<div class="container-fluid">
<div class="row">
<div class="card col" style="width: 18rem;">
    <img src="../assets/images/ROCKlp.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Rock</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="forum/rock" class="btn btn-primary">Go to Rock</a>
    </div>
</div>
<div class="card col" style="width: 18rem;">
    <img src="../assets/images/EDMlp.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">EDM</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="forum/edm" class="btn btn-primary">Go to EDM</a>
    </div>
</div>
<div class="card col" style="width: 18rem;">
    <img src="../assets/images/JAZZlp.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Jazz</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="forum/jazz" class="btn btn-primary">Go to Jazz</a>
    </div>
</div>
<div class="card col" style="width: 18rem;">
    <img src="../assets/images/RAPlp.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Rap</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="forum/rap" class="btn btn-primary">Go to Rap</a>
    </div>
</div>
<div class="card col" style="width: 18rem;">
    <img src="../assets/images/MISClp.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Miscellaneous</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="forum/misc" class="btn btn-primary">Go to Misc</a>
    </div>
</div>
</div>
</div>
